*{
	box-sizing:border-box;
}


@media(min-width:768px)
{
.lfbox
{
	width:35%;
	border:2px solid black;
	padding:10px;
	background-color:#00FFFF;
	color:black;
	font-weight:bold;
	float:left;
	margin-right:10px;
}
.pf
{
	font-size:200%;
}
.rtbox
{
	float:left;
	width:60%;
	border:2px solid black;
	padding:10px;
	background-color:#ADD8E6;
	color:black;
	font-weight:bold;
}
.foot{
	clear:both;
	width:100%;
	border:2px solid black;
	padding:20px;
	background-color:red;
	color:yellow;
	font-weight:bold;
	
}
}



media(max-width:767px)
{
	body
	{
	background-color:#00EEEE;
	}
.lfbox
{
	width:100%;
	border:2px solid black;
	padding:10px;
	color:black;
	font-weight:bold;
	float:left;
	margin-right:10px;
}
.pf
{
	font-size:200%;
}
.rtbox
{
	float:left;
	width:100%;
	border:2px solid black;
	padding:10px;
	
	color:black;
	font-weight:bold;
}
.foot{
	clear:both;
	width:100%;
	border:2px solid black;
	padding:20px;
	
	color:yellow;
	font-weight:bold;
	
}
}
